#main{
    margin: 0;
    padding: 0;
    width: 100%;
}
.object .table {
    width: 100%
}
.object .table table{
    width: 100%;
    margin: 0 auto;
    display: table;
}
.object .table table thead{
    background: #eee;
    width: 100%;
}
.object .table table tr:last-child{border-bottom:none}
.object .table table tr td,.object .table table tr th{
    font-size: 12px;
    padding: 10px;
    border-bottom: 1px solid #d8dce5;
    text-align: center;
}
.object .table table tr th{font-size: 14px;}
.object .table table tr th:first-child,.object .table table tr td:first-child{width: 150px}
.object .table table tr td:first-child p{font-size: 12px}
.object .table table tr td.red{
    color: #f00;
    font-weight: bold;
}
.object .table table tr td.green{
    color: #36cfc9;
    font-weight: bold;
}
.object .table table tr th a,.object .table table tr td a{margin: 0 10px}