#main{
    margin: 0;
    padding: 0;
    width: 100%;
}
.object .table {
    width: 100%
}
.object .table .btnList {
    overflow: hidden;
    margin: 0 20px 10px
}
.object .table .btnList span{margin-right: 20px}
.object .table table{
    width: 100%;
    margin: 0 auto;
    /*display: table;*/
}
.object .table table thead{
    display: block;
    background: #eee;
    width: 100%;
    padding-right: 20px;
}
.object .table table tbody{
    overflow-y: scroll;
    display: block;
}
.object .table table tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d8dce5;
}
.object .table table tr td,.object .table table tr th{
    font-size: 12px;
    padding: 10px;
    text-align: center;
    width: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.object .table table tr td:first-child, .object .table table tr th:first-child, .object .table table tr td:last-child, .object .table table tr th:last-child{width: 26%}
.object .table table tr td:first-child, .object .table table tr th:first-child{justify-content: flex-start;}
.object .table table tr th{font-size: 14px;}
.object .table table tr th:first-child{padding-left: 25px}
.object .table table tr td.red{
    color: #f00;
    font-weight: bold;
}
.object .table table tr td.green{
    color: #36cfc9;
    font-weight: bold;
}
.object .table table tr th a,.object .table table tr td a {
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    cursor: pointer;
}
.object .table table tr th span,.object .table table tr td span{margin: 0 5px;}
.object .table table tr th img,.object .table table tr td img{display: inline-block;margin: 0 5px;cursor: pointer}
.object .table table tr td.paddingLeft{
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.object .securityCon{margin: 0 20px}
.object .securityCon .itemCon {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
.object .securityCon .itemCon .itemLeft{
    overflow: hidden;
    width: 10%;
    font-size: 14px;
}
.object .securityCon .itemCon .itemRight{
    overflow: hidden;
    width: 70%;
}
.object .securityCon .itemCon .itemRight ul li{
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.object .securityCon .itemCon .itemRight ul li .item{
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin: 10px 10% 10px 0;
}
.object .securityCon .itemCon .itemRight ul li .item.marginRight{margin-right: 5%}
.object .securityCon .itemCon .itemRight ul li .item span,.object .securityCon .itemCon .itemRight ul li .item p{
    overflow: hidden;
    font-size: 14px;
}
.object .securityCon .itemCon .itemRight ul li .item input{
    overflow: hidden;
    resize: none;
    outline: none;
    background: transparent;
    padding: 6px 10px;
    color: #333;
    cursor: pointer;
    border: solid 1px #d8dce5;
    width: 50px;
    font-size: 14px;
    margin: 0 10px;
}
.object .securityCon .btnList{margin: 30px 0}
.object .securityCon .btnList a{margin-right: 30px}
.tcHide .tcCon .itemList .checkList{margin: 0}
.tcHide .tcCon .itemList .checkTree{width: 60%;}
.tcHide .tcCon .itemList .checkTree ul li{margin: 5px 0}
.tcHide .tcCon .itemList .checkTree ul li ul{margin-left: 25px}
.tcHide .tcCon .itemList .checkTree ul li ul li ul{margin-left: 25px}
.tcHide .tcCon .monitorItem {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 10px 15px;
}
.tcHide .tcCon .monitorItem .item{
    overflow: hidden;
    border: solid 1px #e4e4e4;
    width: 40%;
    min-height: 180px;
}
.tcHide .tcCon .monitorItem .item li{
    overflow: hidden;
    background: #fff;
    color: #333;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    border-bottom: solid 1px #e4e4e4;
    cursor: pointer;
}
.tcHide .tcCon .monitorItem .item li.checked,.tcHide .tcCon .monitorItem .item li:hover{background: #e1edff;}
.tcHide .tcCon .monitorItem .item li:last-child{border-bottom: none}
.tcHide .tcCon .monitorItem .itemPic{margin: 0 20px}
.tcHide .tcCon .monitorItem .itemPic img{width: 24px}