.model .modelCon {
    overflow: hidden
}
.model .modelCon .item{
    overflow: hidden;
    width: 50%;
    float: left;
    margin-bottom: 30px;
}
.model .modelCon .item p{
    overflow: hidden;
    font-size: 16px;
}
.model .modelCon .item .input{
    overflow: hidden;
    resize: none;
    outline: none;
    background: transparent;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    border: solid 1px #e4e4e4;
    min-width: 100px;
    width: 100px;
    margin: 0 10px;
}
.model .modelCon .item .checkList{margin: 20px 10px}
.model .modelCon .item .itemCon{overflow: hidden;margin-bottom: 30px}
.model .modelCon .item .itemCon .checkList{margin: 0 10px}
.model .modelCon .item .itemCon .modelList{
    overflow: hidden;
    border-left: dashed 1px #fff;
    margin-left: 19px;
    /*display: none;*/
}
.model .modelCon .item .itemCon .modelList .checkList{margin: 0}
.model .modelCon .item .itemCon .modelList li{
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0 0;
}
.model .modelCon .item .itemCon .modelList li i{
    overflow: hidden;
    width: 30px;
    height: 1px;
    border-bottom: dashed 1px #fff;
    margin: 0 9px;
}
.model .modelCon .item .itemCon .modelList li img{margin-right: 10px}