.model .modelCon {
    overflow: hidden;
}
.model .modelCon .tabList{
    overflow: hidden;
    background: #eee;
}
.model .modelCon .tabList ul{
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding: 0 20px;
}
.model .modelCon .tabList ul li{
    overflow: hidden;
    font-size: 14px;
    padding: 10px 0;
    text-align: center;
    margin: 0 30px 0 0;
}
.model .modelCon .tabList ul li.checked{
    border-bottom: solid 4px #13aaf6;
    color: #13aaf6;
    padding-bottom: 6px;
}
.model .modelCon .table{overflow: hidden;width: 100%}
.model .modelCon table{
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    max-height: 517px;
    display: table;
}
.model .modelCon table thead{
    background: #eee;
}
.model .modelCon table tbody{
    width: 100%;
}
.model .modelCon table tr:last-child{border-bottom:none}
.model .modelCon table tr td,.model .modelCon table tr th{
    font-size: 12px;
    padding: 10px;
    border-bottom: 1px solid #d8dce5;
    text-align: center;
}
.model .modelCon table tr th{font-size: 14px;}
.model .modelCon table tr td span{
    overflow: hidden;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 5px;
    vertical-align: middle;
}
.model .modelCon table tr td span.red{
    background: #f00
}
.model .modelCon table tr td span.orange{
    background: #fd6123
}
.model .modelCon table tr td span.green{
    background: #00ff00
}





























.model .modelCon .item{
    overflow: hidden;
    width: 50%;
    float: left;
    margin-bottom: 30px;
}
.model .modelCon .item p{
    overflow: hidden;
    font-size: 16px;
    line-height: 24px;
}
.model .modelCon .item .input{
    overflow: hidden;
    resize: none;
    outline: none;
    background: transparent;
    padding: 10px;
    color: #333;
    cursor: pointer;
    border: solid 1px #d8dce5;
    min-width: 100px;
    width: 100px;
    margin: 0 10px;
}
.model .modelCon .item .checkList{margin: 20px 10px}
.model .modelCon .item .itemCon {
    overflow: hidden;
    margin-bottom: 30px;
}
.model .modelCon .item .itemCon.flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.model .modelCon .item .itemCon.flex em{
    overflow: hidden;
    width: 3px;
    height: 14px;
    background: #02a7f4;
    margin-right: 5px;
    margin-top: 3px;
}
.model .modelCon .item .itemCon .checkList{margin: 0 10px}
.model .modelCon .item .itemCon .modelList{
    overflow: hidden;
    border-left: dashed 1px #d8dce5;
    margin-left: 19px;
    /*display: none;*/
}
.model .modelCon .item .itemCon .modelList .checkList{margin: 0}
.model .modelCon .item .itemCon .modelList li{
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0 0;
}
.model .modelCon .item .itemCon .modelList li i{
    overflow: hidden;
    width: 30px;
    height: 1px;
    border-bottom: dashed 1px #d8dce5;
    margin: 0 9px;
}
.model .modelCon .item .itemCon .modelList li img{margin-right: 10px}