.index .leftCon{
    width: 70%;
    float: left;
}
.index .rightCon{
    width: 28%;
    float: right;
}
.index .conList{
    overflow: hidden;
}
.index .conList ul{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.index .conList li{
    width: 31%;
    height: 130px;
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.index .conList li .layout{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.index .conList li .item img{width: 41px;margin-right: 25px}
.index .conList li .item p,.index .conList li .item span{
    overflow: hidden;
    display: block;
    font-size: 16px;
    color: #333;
}
.index .conList li .item span{
    font-size: 48px;
}
.index .chartCon{
    overflow: hidden;
    width: 100%;
    margin: 30px 0;
}
.index .chartCon .chartTit{
    overflow: hidden;
    margin-bottom: 20px;
}
.index .chartCon .chartTit .item{overflow: hidden;margin-bottom: 15px}
.index .chartCon .chartTit .item span{
    overflow: hidden;
    font-size: 16px;
}
.index .chartCon .chartTit .item a{
    overflow: hidden;
    display: block;
    width: 98px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #333;
    font-size: 14px;
    border-radius: 6px;
    float: left;
    margin-right: 30px;
    cursor: pointer;
}
.index .chartCon .chartTit .item a.color1{border: solid 1px #482afe}
.index .chartCon .chartTit .item a.color1.checked,.index .chartCon .chartTit .item a.color1:hover{background: #482afe;color: #fff}
.index .chartCon .chartTit .item a.color2{border: solid 1px #ae7efa}
.index .chartCon .chartTit .item a.color2.checked,.index .chartCon .chartTit .item a.color2:hover{background: #ae7efa;color: #fff}
.index .chartCon .chartTit .item a.color3{border: solid 1px #ff0179}
.index .chartCon .chartTit .item a.color3.checked,.index .chartCon .chartTit .item a.color3:hover{background: #ff0179;color: #fff}
.index .chartCon .chartTit .item a.color4{border: solid 1px #fb8455}
.index .chartCon .chartTit .item a.color4.checked,.index .chartCon .chartTit .item a.color4:hover{background: #fb8455;color: #fff}
#polyline{
    overflow: hidden;
    width: 100%;
    height: 300px;
    margin: -20px 0 0 0;
}
#polyline div:first-child{width: 100%!important;}
#polyline canvas{width: 100%!important;overflow: hidden}
.index .tabCon{
    overflow: hidden;
    width: 100%;
    margin-bottom: 30px;
}
.index .tabCon .table{overflow: hidden;width: 100%}
.index .tabCon table{
    width: 96%;
    margin: 0 auto;
    max-height: 517px;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}
.index .tabCon table thead{
    border-bottom: solid 1px rgba(255,255,255,.5);
}
.index .tabCon table tbody{
    width: 100%;
}
.index .tabCon table tr:last-child{border-bottom:none}
.index .tabCon table tr td,.index .tabCon table tr th{
    font-size: 14px;
    padding: 10px 0;
    border-bottom: 1px solid #d8dce5;
}
.index .tabCon table tr th{padding: 10px 0}
.index .tabCon table tr td:first-child {
    text-align: left
}
.index .tabCon table tbody tr:first-child td{
}
.index .tabCon table tr td span{
    overflow: hidden;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    margin-left: 10%;
}
.index .tabCon table tr td span.red{
    background: -moz-linear-gradient(top, #ff2c90, #ff0000);
    background: -webkit-linear-gradient(top, #ff2c90, #ff0000);
    background: -o-linear-gradient(top, #ff2c90, #ff0000);
    background: -ms-linear-gradient(top, #ff2c90, #ff0000);
    background: linear-gradient(to top, #ff2c90, #ff0000);
}
.index .tabCon table tr td span.green{
    background: -moz-linear-gradient(top, #46cf1c, #2ea504);
    background: -webkit-linear-gradient(top, #46cf1c, #2ea504);
    background: -o-linear-gradient(top, #46cf1c, #2ea504);
    background: -ms-linear-gradient(top, #46cf1c, #2ea504);
    background: linear-gradient(to top, #46cf1c, #2ea504);
}
.circleChart{
    overflow: hidden;
    width: 170px;
    border-radius: 100%;
    margin: 40px auto;
}
.index .circleCon{overflow: hidden;margin-bottom: 30px}
.index .rectCon{overflow: hidden}
#rect{
    overflow: hidden;
    width: 100%;
    height: 500px;
    margin: -20px 0 0 0;
}
#rect div:first-child{width: 100%!important;}
#rect canvas{width: 100%!important;overflow: hidden}




