.index .leftCon{
    width: 65%;
    float: left;
}
.index .rightCon{
    width: 33%;
    float: right;
}
.index .conList{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.index .conList .layout{
    width: 23.3%;
    height: 122px;
    float: left;
}
.index .conList ul{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.index .conList .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: solid 1px #eee;
}
.index .conList .item img{width: 60px;}
.index .conList .item p,.index .conList .item span{
    overflow: hidden;
    display: block;
    font-size: 16px;
    color: #333;
}
.index .conList .item span{
    font-size: 30px;
    color: #02a7f4;
    font-weight: bold;
}
.index .conList .item-1{
    overflow: hidden;
}
.index .conList .item-1 ul{
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 12px 10px;
}
.index .conList .item-1 ul li{
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
}
.index .conList .item-1 img{width: 14px;margin-right: 5px}
.index .conList .item-1 p{
    overflow: hidden;
    font-size: 12px;
}
.index .listCon{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.index .tabCon{
    width: 57.8%;
    margin: 25px 0;
}
.index .rightCon .tabCon{width: 100%}
.index .tabCon .table{overflow: hidden;width: 100%}
.index .tabCon table{
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    max-height: 517px;
    display: table;
}
.index .tabCon table thead{
    background: #eee;
}
.index .tabCon table tbody{
    width: 100%;
}
.index .tabCon table tr:last-child{border-bottom:none}
.index .tabCon table tr td,.index .tabCon table tr th{
    font-size: 12px;
    padding: 10px;
    border-bottom: 1px solid #d8dce5;
    text-align: center;
}
.index .rightCon .tabCon table tr td:last-child,.index .rightCon .tabCon table tr th:last-child{text-align: left}
.index .tabCon table tr th{font-size: 14px;}
.index .tabCon table tr td span{
    overflow: hidden;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 5px;
    vertical-align: middle;
}
.index .tabCon table tr td span.red{
    background: #f00
}
.index .tabCon table tr td span.green{
    background: #00ff00
}
.index .rankCon{
    width: 40%;
    margin: 25px 0;
}
.index .rankCon .tabList{
    overflow: hidden;
    background: #eee;
}
.index .rankCon .tabList ul{
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding: 0 20px;
}
.index .rankCon .tabList ul li{
    overflow: hidden;
    width: 25px;
    font-size: 14px;
    padding: 10px 0;
    text-align: center;
    margin: 0 5px;
}
.index .rankCon .tabList ul li.checked{
    border-bottom: solid 4px #13aaf6;
    color: #13aaf6;
    padding-bottom: 6px;
}
.index .rankCon .rankList{
    overflow: hidden;
}
.index .rankCon .rankList li{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.index .rankCon .rankList li p{
    overflow: hidden;
    font-size: 12px;
    height: 16px;
    width: 30%;
    text-align: right;
}
.index .rankCon .rankList li p:last-child {
    width: 10%;
    text-align: left;
}
.index .rankCon .rankList li span{
    overflow: hidden;
    width: 200px;
    background: #f1f1f1;
    border-radius: 8px;
    height: 16px;
    position: relative;
    margin: 0 20px;
}
.index .rankCon .rankList li span em{
    position: absolute;
    left: 0;
    top: 0;
    width: 10%;
    height: 16px;
    border-radius: 8px;
    background: #04e689;
}
.index .conList_1 .layout{height: 122px;}
.index .conList_1 ul{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.index .conList_1 ul li{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.index .conList_1 ul li img{margin-right: 10px}
.index .conList_1 ul li p{
    overflow: hidden;
    font-size: 14px;
    text-align: center;
}
.index .conList_1 ul li p span{
    color: #fd6123;
    font-size: 12px;
    display: block;
}
.index .interCon{margin-top: 25px}
.index .interCon .layout{
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.index .interCon .interLine{
    overflow: hidden;
    height: 240px;
    width: 1px;
    background: #f1f1f1;
    margin: 0 10px;
}
.index .interCon .interLeft{
    width: 33%;
}
.index .interCon .interLeft p,.index .interCon .interLeft span{
    overflow: hidden;
    display: block;
    font-size: 12px;
    text-align: center;
    padding: 2.5px 0;
}
.index .interCon .interLeft p:first-child{font-size: 18px;font-weight: bold;}
.index .interCon .interLeft p:nth-child(3){font-size: 14px}
.index .interCon .interLeft p em{
    display: inline;
    color: #fd6123;
}
.index .interCon .interLeft span{
    font-weight: bold;
    font-size: 30px;
    color: #fd6123;
}
#circle{
    overflow: hidden;
    display: block;
    width: 130px;
    height: 130px;
    margin: 0 auto;
}
.index .interCon .interRight{
    overflow: hidden;
}
.index .interCon .interRight li{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.index .interCon .interRight li p{
    overflow: hidden;
    font-size: 12px;
    height: 16px;
    width: 30%;
    text-align: right;
}
.index .interCon .interRight li p:last-child {
    width: 10%;
    text-align: left;
}
.index .interCon .interRight li span{
    overflow: hidden;
    width: 150px;
    background: #f1f1f1;
    border-radius: 8px;
    height: 16px;
    position: relative;
    margin: 0 15px;
}
.index .interCon .interRight li span em{
    position: absolute;
    left: 0;
    top: 0;
    width: 10%;
    height: 16px;
    border-radius: 8px;
    background: #34bbfa;
}