.management .manageCon{padding-bottom: 10px}
.management .manageCon .tabList{
    overflow: hidden;
    background: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}
.management .manageCon .tabList ul{
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding: 0 20px;
}
.management .manageCon .tabList ul li{
    overflow: hidden;
    font-size: 14px;
    padding: 15px 0;
    text-align: center;
    margin: 0 30px 0 0;
    border-bottom: solid 4px transparent;
    cursor: pointer;
}
.management .manageCon .tabList ul li.checked{
    border-bottom: solid 4px #13aaf6;
    color: #13aaf6;
}
.management .manageCon .itemTit{
    overflow: hidden;
    font-size: 14px;
    margin: 0 20px;
}
.management .manageCon .userCon,.management .manageCon .emailCon{display: none}
.management .manageCon .userCon .item {
    overflow: hidden;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.management .manageCon .userCon .item span{
    overflow: hidden;
    font-size: 14px;
}
.management .manageCon .userCon .item input{
    overflow: hidden;
    width: 200px;
    height: 28px;
    line-height: 28px;
    border: solid 1px #d8dce5;
    resize: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    color: #333;
    padding: 0 10px;
    margin: 0 10px
}
.management .manageCon .userCon .item a{margin: 0 10px}
.management .manageCon .userCon .table {
    width: 100%
}
.management .manageCon .userCon .table table{
    width: 100%;
    margin: 0 auto;
    display: table;
    background: #eee;
}
.management .manageCon .userCon .table table thead{
    background: #eee;
    width: 99%;
    display: table;
    overflow: hidden
}
.management .manageCon .userCon .table table tbody{
    overflow-y: scroll;
    display: block;
    width: 100%;
}
.management .manageCon .userCon .table table tbody tr {
    width: 100%;
    display: block;
}
.management .manageCon .userCon .table table tr:last-child{border-bottom:none}
.management .manageCon .userCon .table table tr td,
.management .manageCon .userCon .table table tr th{
    overflow: hidden;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    padding: 0 1%;
    border-bottom: 1px solid #d8dce5;
}
.management .manageCon .userCon .table.firstTab table tr td,
.management .manageCon .userCon .table.firstTab table tr th {
    width: 12.857%;
    display: block;
    float: left;
}
.management .manageCon .userCon .table.secTab table tr td,
.management .manageCon .userCon .table.secTab table tr th {
    width: 30%;
    display: block;
    float: left;
}
.management .manageCon .userCon .table.thirdTab table tr td,
.management .manageCon .userCon .table.thirdTab table tr th {
    width: 22.5%;
    display: block;
    float: left;
}
.management .manageCon .userCon .table.fourTab table tr td,
.management .manageCon .userCon .table.fourTab table tr th {
    width: 18%;
    display: block;
    float: left;
}
.management .manageCon .userCon .table table tr th{font-size: 14px;}
.management .manageCon .userCon .table table tr th:first-child,
.management .manageCon .userCon .table table tr td:first-child{width: 10%;text-align: center}
.management .manageCon .userCon .table table tr td{background: #fff;}
.management .manageCon .userCon .table table tr td:first-child p{font-size: 12px}
.management .manageCon .userCon .table table tr td img{margin-top: 10px}
.management .manageCon .userCon .table table tr td span{
    overflow: hidden;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 5px;
    vertical-align: middle;
}
.management .manageCon .userCon .table table tr td span.red{
    background: #f00
}
.management .manageCon .userCon .table table tr td span.orange{
    background: #fd6123
}
.management .manageCon .userCon .table table tr td span.green{
    background: #00ff00
}
.management .checkList .checkbox + label, .checkbox{background: #fff}
.management .manageCon .userCon .table .pageNum{margin: 20px}
.management .manageCon .emailCon{padding: 0 20px}
.management .manageCon .emailCon .itemList{
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 10px 0;
    width: 100%;
}
.management .manageCon .emailCon .itemList span{
    overflow: hidden;
    font-size: 14px;
    width: 150px;
}
.management .manageCon .emailCon .itemList.account span{
    margin-left: 50px;
    width: 100px;
}
.management .manageCon .emailCon .itemList input{
    overflow: hidden;
    resize: none;
    outline: none;
    background: transparent;
    padding: 6px 10px;
    color: #333;
    cursor: pointer;
    border: solid 1px #d8dce5;
    margin-right: 20px;
    min-width: 150px;
}
.management .manageCon .emailCon .itemList input.width{
    min-width: 50px;
    width: 50px;
    text-align: center;
}
.management .manageCon .emailCon .itemList .checkList{margin: 15px 0;width: 100%}
.management .manageCon .emailCon .itemList .btn{margin-left: 50px}
.tcHide .tcCon .itemList .checkTree ul li{margin: 5px 0}
.tcHide .tcCon .itemList .checkTree ul li .checkboxList{margin-left: 0;}
.checkboxList .checkbox.checked img{margin-top: 0!important;}










