html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
html {
    font-size: 62.5%;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
input, textarea {
    -webkit-appearance: none;
    outline: medium;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    box-shadow:none;
    -webkit-text-fill-color: transparent;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}
img {
    overflow: hidden;
    display: block;
    border: none;
}
a {
    text-decoration: none;
    outline: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
* {
    box-sizing: border-box;
}
html {
    background: #f0f2f5;
}
body{
    font-family: "Microsoft YaHei", arial, sans-serif;
    color: #333;
    width: 100%;
    background: #f0f2f5;
}
#header{
    width: 100%;
    height: 85px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: #02a7f4;
}
#header .logo{
    overflow: hidden;
    width: 100%;
}
#header .logo a{
    overflow: hidden;
    padding: 0 0 0 45px;
    height: 85px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#header .logo a img{margin-bottom: 20px}
#header .logo p{
    overflow: hidden;
    width: 38px;
    height: 38px;
    background: url("../images/template/icon-logo.png") no-repeat;
    background-size: 100% 100%;
    margin-right: 15px;
}
#header .logo span{
    overflow: hidden;
    /*background: url("../images/template/logo.png") no-repeat;
    background-size: 100% 100%;
    width: 160px;
    height: 20px;*/
    font-size: 20px;
    color: #fff;
}
#header .quit{
    position: absolute;
    right: 25px;
    top: 30px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
#header .quit img{width: 100%}
#nav{
    width: 130px;
    position: fixed;
    top: 110px;
    left: 25px;
    z-index: 999;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 18px rgba(0,0,0,.1);
}
#nav ul{margin-top: 12px}
#nav ul li{
    display: block;
    position: relative;
    padding: 0 0 10px 0;
}
#nav ul li a{
    overflow: hidden;
    width: 100%;
    display: block;
    color: #333;
    font-size: 16px;
}
#nav ul li .first{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#nav ul li span{
    overflow: hidden;
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 0 auto 10px;
}
#nav ul li span.ic1{
    background: url("../images/template/icon1.png") no-repeat center center;
    background-size: 60%;
}
#nav ul li span.ic2{
    background: url("../images/template/icon2.png") no-repeat center center;
    background-size: 60%;
}
#nav ul li span.ic3{
    background: url("../images/template/icon3.png") no-repeat center center;
    background-size: 60%;
}
#nav ul li span.ic4{
    background: url("../images/template/icon4.png") no-repeat center center;
    background-size: 60%;
}
#nav ul li span.ic5{
    background: url("../images/template/icon5.png") no-repeat center center;
    background-size: 60%;
}
#nav ul li span.ic6{
    background: url("../images/template/icon6.png") no-repeat center center;
    background-size: 60%;
}
#content{
    padding: 110px 30px 0 185px;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}
.layout{
    background: #fff;
    box-shadow: 0 3px 18px rgba(0,0,0,.1);
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
}
.title span{
    overflow: hidden;
    font-size: 18px;
    font-weight: bold;
}
.title p{
    overflow: hidden;
    font-size: 12px;
    color: #02a7f4;
}
.btn{
    overflow: hidden;
    display: inline-block;
    background: #02a7f4;
    border-radius: 4px;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
}
.btn1{
    overflow: hidden;
    display: inline-block;
    color: #02a7f4;
    border:solid 1px #02a7f4;
    border-radius: 4px;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
}
.search{
    overflow: hidden;
    width: 150px;
    height: 30px;
    border: solid 1px #d8dce5;
    border-radius: 19px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    margin: 10px 0;
}
.search img{width: 20px}
.search input{
    overflow: hidden;
    border: 0;
    padding-left: 10px;
    font-size: 14px;
    color: #4e3030;
    width: 70px;
}
.search input::placeholder,.search input::-moz-placeholder,.search input::-webkit-input-placeholder,.search input:-ms-input-placeholder{
    color: #4e3030;
}
.select {
    min-width: 150px;
    border: solid 1px #d8dce5;
    position: relative;
}
.select span{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #575961;
    cursor: pointer;
    background: transparent;
    padding: 0 10px;
}
.select i{
    overflow: hidden;
    display: block;
    float: right;
    background: url("../images/template/icon-down.png") no-repeat;
    width: 20px;
    height: 20px;
}
.select ul{
    width: 100%;
    border: solid 1px #d8dce5;
    position: absolute;
    top: 32px;
    left: 0;
    z-index: 3;
    display: none;
    background: #fff;
}
.select ul li{
    display: block;
    width: 100%;
    margin-bottom: 0;
    border: none;
}
.checkboxList {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 10px;
}
.checkboxList .checkbox{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #d8dce5;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background: transparent;
}
.checkboxList .checkbox img{display: none}
.checkboxList .checkbox.checked img{display: block}
.checkboxList p{font-size: 14px}
.checkList {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 10px;
}
.checkList p{font-size: 14px}
.checkList .checkbox {
    display: none;
    width: 16px!important;
    height: 16px!important;
    border: solid 1px #80878b;
    margin-top: 0!important;
    line-height: normal!important;
    padding: 0!important;
    background: transparent;
}
.checkList .checkbox + label ,.checkbox{
    color: transparent;
    border: solid 1px #d8dce5;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background: transparent;
    cursor: pointer;
}
.checkList .checkbox + label img{margin: 2px auto 0;display: none}
.checkList .checkbox:checked + label {
    color: transparent;
    border: solid 1px #d8dce5;
}
.checkList .checkbox:checked + label img{display: block;}
.checkList .radio{
    color: transparent;
    border: solid 1px #d8dce5;
    width: 18px;
    height: 18px;
    font-size: 18px;
    border-radius: 100%;
    line-height: 18px;
    margin-right: 10px;
    background: transparent;
    position: relative;
}
.checkList input[type="radio"]:checked{
    color: transparent;
    border: solid 1px #d8dce5;
}
.checkList input[type="radio"]:checked::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #333;
    top: 3px;
    left: 3px;
    border-radius: 100%;
}
.pageNum{
    display: inline-block;
    float: right;
    cursor: pointer;
}
.pageNum ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.pageNum ul li{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}
.pageNum ul li p{
    overflow: hidden;
    display: inline-block;
    font-size: 14px;
    margin: 0 2px;
    width: auto!important;
}
.pageNum ul li em,.pageNum ul li span{
    overflow: hidden;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fff;
    margin: 0 5px;
}
.pageNum ul li em{background: #d8dce5}
.pageNum ul li span{background: #02a7f4}
.pageNum ul li input{
    overflow: hidden;
    width: 50px;
    height: 35px;
    line-height: 35px;
    border: solid 1px #d8dce5;
    resize: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    color: #333;
    padding: 0 10px;
    border-radius: 4px;
    margin: 0 5px;
}
.crumbs {
    width: 100%;
    padding: 15px 20px;
}
.crumbs ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.crumbs ul li a,.crumbs ul li span{
    overflow: hidden;
    display: block;
    color: #333;
    font-size: 12px;
}
.crumbs ul li a:hover{color: #34bbfa}
.crumbs ul li:first-child a{border-left: solid 5px #34bbfa;padding-left: 5px}
.crumbs ul li:nth-child(even){margin: 0 5px}
.tcHide{
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1111;
    display: none;
}
.tcHide.display{display: block;}
.masking {
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1112;
    background: rgba(0, 0, 0, .8);
    cursor: pointer;
}
.tcHide .tcCon{
    position: relative;
    z-index: 1113;
    margin: 0 auto;
    top: 15%;
    width: 800px;
    /*min-height: 200px;*/
    background: #fff;
    border-radius: 2px;
    padding: 10px 15px;
}
.tcHide.report .tcCon{padding: 0;width: 1000px}
.tcHide .tcCon.witdh{width: 400px;top: 30%}
.tcHide .tcCon .off{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;
    cursor: pointer;
}
.tcHide .tcCon .tcTit {
    overflow: hidden;
    font-size: 16px;
    color: #333;
    margin: 10px 0 20px;
}
.tcHide .tcCon .itemList{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0 0 50px;
}
.tcHide .tcCon .itemList.flexStart{align-items: flex-start}
.tcHide .tcCon .itemList.paddingLeft{padding-left: 28%;padding-bottom: 20px}
.tcHide .tcCon .itemList.paddingLeft a{margin-right: 5%}
.tcHide .tcCon .itemList span{
    overflow: hidden;
    font-size: 14px;
    color: #333;
}
.tcHide .tcCon .itemList.special span{width: 30%}
.tcHide .tcCon .itemList span em{
    display: inline-block;
    width: 140px;
}
.tcHide .tcCon .itemList span i{
    display: block;
    font-size: 12px;
    color: #999;
}
.tcHide .tcCon .itemList input{
    overflow: hidden;
    resize: none;
    outline: none;
    background: transparent;
    padding: 10px;
    color: #333;
    cursor: pointer;
    border: solid 1px #d8dce5;
    width: 60%;
}
.tcHide .tcCon .itemList1{text-align: center}
.tcHide .tcCon .itemList1 p{
    overflow: hidden;
    display: inline-block;
    margin: 30px 0;
    padding: 5px 15px;
    font-size: 14px;
}
.tcHide .tcCon .itemList1 span{
    overflow: hidden;
    display: inline-block;
    color: #02a7f4;
    border: solid 1px #02a7f4;
    border-radius: 4px;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
    margin: 30px 20px 30px 0;
}
.tcHide .tcCon .itemList1 span:hover{
    background: #02a7f4;
    color: #fff;
}
.tcHide .tcCon .itemErr{
    overflow: hidden;
    display: block;
    font-size: 12px;
    color: #f00;
    text-align: center;
    margin-top: 10px;
}
.tcHide .tcCon .itemBtn {
    overflow: hidden;
    margin: 30px 0;
    text-align: center
}
.tcHide .tcCon .itemBtn a{
    overflow: hidden;
    margin: 0 auto;
    display: inline-block;
}
.tcHide .tcCon .ul_list{
    overflow-y: scroll;
    border-top: solid 1px #d8dce5;
    min-height: 200px;
    max-height: 500px;
}
.tcHide .tcCon .ul_list .ul_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #d8dce5;
    padding: 10px 5px;
}
.tcHide .tcCon .ul_list .ul_title span,.tcHide .tcCon .ul_list li span{
    width: 40%;
    font-size: 14px;
}
.tcHide .tcCon .ul_list .ul_title span:last-child,.tcHide .tcCon .ul_list li span:last-child{width: 20%;text-align: right}
.tcHide .tcCon .ul_list li{
    font-size: 14px;
    padding: 10px 5px;
    border-bottom: solid 1px #d8dce5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tcHide .tcCon .ul_list li:last-child{border-bottom: none}
.tcHide .tcCon .ul_list li span.critical{color: #f00}
.tcHide .tcCon .ul_list li span.warning{color: #fd6123}
.tcHide .tcCon .ul_list li span.clear{color: #1E6E2D}
.display{display: block!important;}
@media screen and (max-width: 1366px){
    #header,#header .logo a{height: 60px}
    #header .quit{top: 18px}
    #content{padding-top: 85px}
    #nav{width: 80px;top: 85px}
    #nav ul li span{width: 50px;height: 50px}
    #nav ul li a{font-size: 12px}
    #content{padding-left: 135px}
    .title{padding: 10px 15px!important;}
    .title span,.index .interCon .interLeft p:first-child{font-size: 14px!important;}
    .index .conList .layout,.index .conList_1 .layout{height: 90px!important;}
    .index .conList .item img{width: 40px!important;}
    .index .conList .item p, .index .conList .item span{font-size: 12px!important;}
    .index .conList .item span,.index .interCon .interLeft span{font-size: 20px!important;}
    .index .conList .item-1 ul{margin: 5px!important;}
    .index .tabCon table tr th{font-size: 12px!important;padding: 5px!important;}
    .index .tabCon table tr td, .index .tabCon table tr th{font-size: 10px!important;}
    .index .rankCon .tabList ul li{padding: 4px 0!important;font-size: 10px!important;}
    .index .rankCon .rankList li{padding: 5px 6px!important;}
    .index .rankCon .rankList li span{width: 105px!important;margin:5px!important;}
    .index .rankCon .rankList li p {font-size: 12px !important;}
    .index .rankCon .rankList li p:first-child,
    .index .interCon .interRight li p:first-child{text-overflow: ellipsis;white-space: nowrap;}
    .index .conList_1 ul li p{font-size: 10px!important;}
    .index .interCon .interRight li span{width: 80px!important;margin: 0 5px!important;}
    .index .interCon .interRight li p{font-size: 10px!important;}
    .index .interCon .interRight li p:last-child{width: 20%!important;}
    .index .tabCon .table .tabTit span{font-size: 12px!important;}
    .index .tabCon .table ul li span:first-child, .index .tabCon .table .tabTit span:first-child{width: 20%!important;}
    .index .tabCon .table ul li span, .index .tabCon .table .tabTit span{text-overflow: ellipsis;white-space: nowrap;}
    .index .interCon .layout{height: 230px!important;}
    #circle{margin: -10% 0!important;}
}