<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>动力环境监控-智能考评系统</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="wap-font-scale" content="no">
    <link rel="stylesheet" href="css/template.css">
    <link rel="stylesheet" href="css/envMonitorDetails.css">
    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/browser.min.js"></script>
    <script src="js/browser-polyfill.min.js"></script>
    <script src="js/vue.js"></script>
    <script type="text/javascript" src="js/nav.js"></script>
</head>
<body>
<div id="main">
    <div id="head"><common-head></common-head></div>
    <div id="content" class="plan">
        <div class="layout">
            <div class="title">
                <span>机房动力环境监控</span>
            </div>
			
			<!-- 环境 div -->
			<div class="table">
				<div class="btnList"><span style="font-size: 18px;">环境</span></div>
				<div>
					<div class="sensorTable">
						<table>
							<thead>
							<tr>
								<th></th>
								<th>温度</th>
								<th>湿度</th>
								<th>烟雾检测</th>
							</tr>
							</thead>
							<tbody id="table">
							<tr v-for="item in multiFuncSensors">
								<td>{{item.name}}</td>
								<td :class="{ critical: item.temp_status==1, alert: item.temp_status==2 || item.temp_status==3 || item.temp_status==4, clear: item.temp_status==5 }">{{item.temp}} ℃</td>
								<td :class="{ critical: item.humd_status==1, alert: item.humd_status==2 || item.humd_status==3 || item.humd_status==4, clear: item.humd_status==5 }">{{item.humd}} %RH</td>
								<td :class="{ critical: item.smoke_status==1, alert: item.smoke_status==2 || item.smoke_status==3 || item.smoke_status==4, clear: item.smoke_status==5 }">{{item.smoke}}</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="leakText">
						<span class="leakSpan">漏水检测：</span><span :class="leakSensor==2? 'normal' : 'alert'">{{leakSensor==2? "正常" : "告警"}}</span>
					</div>
				</div>
			</div>
			
			<!-- 动力 div -->
			<div class="table" style="margin-top: 50px; float: left; width: 100%">
				<div class="btnList"><span style="font-size: 18px;">动力</span></div>
				<div>
					<div class="pdu">
						<div class="btnList"><span style="font-weight: bold">一体化配电柜1</span></div>
						<div class="btnList">总电能(kWh)：<span class="totalEnerg">{{pdu1Energ.totalEnerg}}</span> （IT负载：<span class="energ">{{pdu1Energ.itEnerg}}</span>， 空调负载：<span class="energ">{{pdu1Energ.airEnerg}}</span>）</div>
						<table>
							<thead>
							<tr>
								<th></th>
								<th>L1</th>
								<th>L2</th>
								<th>L3</th>
							</tr>
							</thead>
							<tbody id="table">
							<tr v-for="item in pdu1">
								<td>{{item.name}}</td>
								<td>{{item.L1}} {{item.unit}}</td>
								<td>{{item.L2}} {{item.unit}}</td>
								<td>{{item.L3}} {{item.unit}}</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="pdu">
						<div class="btnList"><span style="font-weight: bold">一体化配电柜2</span></div>
						<div class="btnList">总电能(kWh)：<span class="totalEnerg">{{pdu2Energ.totalEnerg}}</span> （IT负载：<span class="energ">{{pdu2Energ.itEnerg}}</span>， 空调负载：<span class="energ">{{pdu2Energ.airEnerg}}</span>）</div>
						<table>
							<thead>
							<tr>
								<th></th>
								<th>L1</th>
								<th>L2</th>
								<th>L3</th>
							</tr>
							</thead>
							<tbody id="table">
							<tr v-for="item in pdu1">
								<td>{{item.name}}</td>
								<td>{{item.L1}} {{item.unit}}</td>
								<td>{{item.L2}} {{item.unit}}</td>
								<td>{{item.L3}} {{item.unit}}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
        </div>
    </div>
</div>
</body>
<script src="js/public.js"></script>
<script src="js/envMonitorDetails.js" type="text/babel"></script>
</html>