<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>考评对象-智能考评系统</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="wap-font-scale" content="no">
    <link rel="stylesheet" href="css/template.css">
    <link rel="stylesheet" href="css/evaluationObject.css">
    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/vue.js"></script>
    <script type="text/javascript" src="js/nav.js"></script>
</head>
<body>
<div id="main">
    <div id="head"><common-head></common-head></div>
    <div id="content" class="object">
        <div class="layout">
            <div class="title">
                <span>考评对象管理</span>
                <a class="btn" v-on:click="objectInfo(0)">新增考评对象</a>
            </div>
            <div class="table">
                <div class="btnList"><span class="btn">一键全部考评</span><span class="btn1">总体考评结果</span></div>
                <table>
                    <thead>
                    <tr>
                        <th>业务系统名称</th>
                        <th>上次考评对象</th>
                        <th>上次考评结果</th>
                        <th>考评结果接收邮箱</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="table">
                    <tr>
                        <td><a href="evaluationObject1.html"><img src="images/template/‭icon-open.png"/>大数据治理应用平台</a></td>
                        <td>2020-02-14</td>
                        <td class="green">达标</td>
                        <td>56253715@qq.com</td>
                        <td>
                            <img v-on:click="objectInfo(2)" src="images/template/icon-change.png"/>
                            <img src="images/template/icon-del.png"/>
                            <span class="btn">手动考评</span>
                            <span class="btn1">考评结果</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--新增或编辑考评对象-->
    <div class="tcHide" v-if="isObjectInfoPop" :class="isObjectInfoPop?'display':''">
        <div class="masking" v-on:click="objectInfo(0)"></div>
        <div class="tcCon">
            <div class="tcTit"><span>考评对象管理</span></div>
            <div class="itemList special"><span>业务系统名称：</span><input type="text" v-model="objectName"/></div>
            <div class="itemList special"><span>考评结果接收邮件地址：<i>* 可填多个地址，以英文逗号分隔</i></span><input type="email" v-model="objectEmail"/></div>
            <div class="itemList special">
                <span>启用考评结果自动审批：</span>
                <div class="checkboxList"><div class="checkbox" v-on:click="autoEvaluation" :class="isAutoEvaluation?'checked':''"><img src="images/template/icon-check.png" alt=""></div></div>
            </div>
            <div class="itemList special flexStart">
                <span>考评项目：</span>
                <div class="checkTree">
                    <ul>
                        <li v-for="(item,index) in objectList">
                            <div class="checkboxList">
                                <div class="checkbox" v-on:click="checkButton" :class=""><img src="images/template/icon-check.png" alt=""></div>
                                <p>{{item.firstName}}</p>
                            </div>
                            <ul v-if="item.secList">
                                <li v-for="(secItem,secIndex) in item.secList">
                                    <div class="checkboxList">
                                        <div class="checkbox" v-on:click="checkButton"><img src="images/template/icon-check.png" alt=""></div>
                                        <p>{{secItem.secName}}</p>
                                    </div>
                                    <ul v-if="secItem.thirdList">
                                        <li v-for="(thirdItem,thirdIndex) in secItem.thirdList">
                                            <div class="checkboxList">
                                                <div class="checkbox" v-on:click="checkButton"><img src="images/template/icon-check.png" alt=""></div>
                                                <p>{{thirdItem.thirdName}}</p>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="itemList paddingLeft">
                <a class="btn" v-on:click="objectInfo(1)">保存</a>
                <a class="btn1" v-on:click="objectInfo(0)">取消</a>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/public.js"></script>
<script src="js/evaluationObject.js"></script>
</html>