<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>考评对象-智能考评系统</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="wap-font-scale" content="no">
    <link rel="stylesheet" href="css/template.css">
    <link rel="stylesheet" href="css/evaluationObject.css">
    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/vue.js"></script>
    <script type="text/javascript" src="js/nav.js"></script>
</head>
<body>
<div id="main">
    <div id="head"><common-head></common-head></div>
    <div id="content" class="object">
        <div class="layout">
            <div class="title">
                <span>考评对象管理</span>
                <a class="btn" @click="objectInfo(0)">新增考评对象</a>
            </div>
            <div class="table">
                <div class="btnList"><span class="btn">一键全部考评</span><span class="btn1">总体考评结果</span></div>
                <div class="treeTit">
                    <span>业务系统名称</span>
                    <span>上次考评对象</span>
                    <span>上次考评结果</span>
                    <span>考评结果接收邮箱</span>
                    <span>操作</span>
                </div>
                <div id="ulHeight">
                    <ul>
                        <li v-for="(item,index) in objectList">
                            <div class="item">
                                <p @click="showSub(index)"><em :class="activeSubIndex===index?'checked':''"></em>{{item.name}}</p>
                                <p>2020-02-14</p>
                                <p class="green">达标</p>
                                <p>{{item.email}}</p>
                                <div class="manipulate">
                                    <img @click="objectInfo(1,index,item.id)" src="images/template/icon-change.png"/>
                                    <img @click="delObjectInfo(item.id,index)" src="images/template/icon-del.png"/>
                                    <span class="btn">手动考评</span>
                                    <span class="btn1">考评结果</span>
                                </div>
                            </div>
                            <ul v-if="activeSubIndex===index" :class="activeSubIndex===index?'display':''">
                                <li v-for="(firstItem,firstIndex) in objectNavList" v-if="firstItem.parentId==0">
                                    <div class="item">
                                        <i></i>
                                        <p @click="showThree(firstIndex)" :class="firstItem.isLast==0?'':'paddingLeft'"><em :class="activeThreeIndex===firstIndex?'checked':''"></em>{{firstItem.name}}</p>
                                    </div>
                                    <ul v-if="activeThreeIndex===firstIndex" :class="activeThreeIndex===firstIndex?'display':''">
                                        <li v-for="(secItem,secIndex) in objectNavList" v-if="firstItem.id==secItem.parentId">
                                            <div class="item">
                                                <i></i>
                                                <a v-if="secItem.name=='信息安全'" :href="'infoSecurity.html?id='+item.id"><em></em>{{secItem.name}}</a>
                                                <p v-else-if="secItem.type==0" @click="showFour(secIndex,secItem.isLast)" :class="secItem.isLast==0?'':'paddingLeft'">
                                                    <em v-if="secItem.isLast==0" :class="activeFourIndex===secIndex?'checked':''"></em>
                                                    {{secItem.name}}
                                                </p>
                                                <p v-else :class="item.deviceList[secItem.type]&&item.deviceList[secItem.type].length>0?'':'paddingLeft'">
                                                    <span @click="showFour(secIndex,secItem.isLast,secItem.type,item.deviceList[secItem.type])">
                                                        <em v-if="item.deviceList[secItem.type]&&item.deviceList[secItem.type].length>0" :class="activeFourIndex===secIndex?'checked':''"></em>
                                                        {{secItem.name}}
                                                    </span>
                                                    <img @click="deviceInfo(1,secItem.type,index,item.id)" src="images/template/icon-change.png"/>
                                                </p>
                                            </div>
                                            <div v-if="secItem.type==0">
                                                <ul v-if="activeFourIndex===secIndex" :class="activeFourIndex===secIndex?'display':''">
                                                    <li v-for="(thirdItem,thirdIndex) in objectNavList" v-if="secItem.id==thirdItem.parentId">
                                                        <div class="item"><i></i><p class="paddingLeft">{{thirdItem.name}}<img src="images/template/icon-change.png"/></p></div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div v-else>
                                                <ul v-if="activeFourIndex===secIndex" :class="activeFourIndex===secIndex?'display':''">
                                                    <li v-for="(deviceItem,deviceIndex) in item.deviceList[secItem.type]">
                                                        <div class="item"><i></i><p class="paddingLeft">{{deviceItem.displayName}}</p></div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--新增或编辑考评对象-->
    <div class="tcHide" v-if="isObjectInfoPop" :class="isObjectInfoPop?'display':''">
        <div class="masking" @click="objectInfo(0)"></div>
        <div class="tcCon">
            <div class="tcTit"><span>考评对象管理</span></div>
            <div class="itemList special"><span>业务系统名称：</span><input type="text" v-model="objectName"/></div>
            <div class="itemList special"><span>考评结果接收邮件地址：<i>* 可填多个地址，以英文逗号分隔</i></span><input type="email" v-model="objectEmail"/></div>
            <div class="itemList special">
                <span>启用考评结果自动审批：</span>
                <div class="checkboxList"><div class="checkbox" @click="autoEvaluation" :class="isAutoEvaluation?'checked':''"><img src="images/template/icon-check.png" alt=""></div></div>
            </div>
            <div class="itemList special flexStart">
                <span>考评项目：</span>
                <div class="checkTree">
                    <ul>
                        <li v-for="(item,index) in objectNavList" v-if="item.parentId==0">
                            <div class="checkboxList">
                                <div @click="checkButton(item.id,index)" :class="needIdList!=''&&needIdList!=null&&needIdList.includes(item.id)?'checkbox item-check checked':'checkbox item-check'" :id="item.id"><img src="images/template/icon-check.png" alt=""></div>
                                <p>{{item.name}}</p>
                            </div>
                            <ul>
                                <li v-for="(secItem,secIndex) in objectNavList" v-if="item.id==secItem.parentId">
                                    <div class="checkboxList">
                                        <div @click="checkButton(secItem.id,secIndex)" :class="needIdList!=''&&needIdList!=null&&needIdList.includes(secItem.id)?'checkbox item-check checked':'checkbox item-check'" :id="secItem.id"><img src="images/template/icon-check.png" alt=""></div>
                                        <p>{{secItem.name}}</p>
                                    </div>
                                    <ul>
                                        <li v-for="(thirdItem,thirdIndex) in objectNavList" v-if="secItem.id==thirdItem.parentId">
                                            <div class="checkboxList">
                                                <div @click="checkButton(thirdItem.id,thirdIndex)" :class="needIdList!=''&&needIdList!=null&&needIdList.includes(thirdItem.id)?'checkbox item-check checked':'checkbox item-check'" :id="thirdItem.id"><img src="images/template/icon-check.png" alt=""></div>
                                                <p>{{thirdItem.name}}</p>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="itemList paddingLeft">
                <a v-if="isEdit" class="btn" @click="saveObjectInfo">保存</a>
                <a v-else class="btn" @click="changeObjectInfo">保存</a>
                <a class="btn1" @click="objectInfo(0)">取消</a>
            </div>
        </div>
    </div>
    <!--编辑考评主体-->
    <div class="tcHide" v-if="isDevicePop" :class="isDevicePop?'display':''">
        <div class="masking" @click="deviceInfo(0)"></div>
        <div class="tcCon">
            <div class="tcTit"><span>考评设备</span></div>
            <div class="monitorItem">
                <div class="item">
                    <ul>
                        <li v-for="(item,index) in deviceList" :class="{checked:deviceIndex==index}" @click="checkLeftDevice(item.displayName,item.name,index)">{{item.displayName}}</li>
                    </ul>
                </div>
                <div class="itemPic">
                    <img @click="addDevice" src="images/template/icon-right.png"/>
                    <img @click="delDevice" src="images/template/icon-left.png"/>
                </div>
                <div class="item">
                    <ul>
                        <li v-for="(item,index) in selectedDeviceList" :class="{checked:deviceIndex==index}" v-on:click="checkRightDevice(item.displayName,item.name,index)">{{item.displayName}}</li>
                    </ul>
                </div>
            </div>
            <div class="itemBtn"><a class="btn" @click="submitDevice">保存</a></div>
        </div>
    </div>
</div>
</body>
<script src="js/public.js"></script>
<script src="js/evaluationObject.js"></script>
</html>