<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>管理-智能考评系统</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="wap-font-scale" content="no">
    <link rel="stylesheet" href="css/template.css">
    <link rel="stylesheet" href="css/management.css">
    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/vue.js"></script>
    <script type="text/javascript" src="js/nav.js"></script>
</head>
<body>
<div id="main">
    <div id="head"><common-head></common-head></div>
    <div id="content" class="management">
        <div class="layout">
            <div class="title">
                <span>系统管理</span>
                <!--<a class="btn">保存</a>-->
            </div>
            <div class="manageCon">
                <div class="itemTit">用户权限管理</div>
                <div class="manageItem">
                    <div class="item">
                        <p>用户列表<img v-on:click="flashData" src="images/template/icon-flash.png"/></p>
                        <ul>
                            <li v-for="(item,index) in userList" :class="{checked:userIndex==index}" v-on:click="checkUser(item.id,index,item)">{{item.username}}</li>
                        </ul>
                    </div>
                    <div class="itemCon">
                        <div class="itemList">
                            <div class="itemPic">
                                <img v-on:click="addUser(1)" src="images/template/icon-right.png"/>
                                <img v-on:click="delAdminUser(1)" src="images/template/icon-left.png"/>
                            </div>
                            <div class="item">
                                <p>管理员用户</p>
                                <ul>
                                    <li v-for="(item,index) in adminList" :class="{checked:adminIndex==index}" v-on:click="checkAdmin(item.id,index,item)">{{item.username}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="itemList">
                            <div class="itemPic">
                                <img v-on:click="addUser(2)" src="images/template/icon-right.png"/>
                                <img v-on:click="delAdminUser(2)" src="images/template/icon-left.png"/>
                            </div>
                            <div class="item">
                                <p>普通用户</p>
                                <ul>
                                    <li v-for="(item,index) in generalList" :class="{checked:generalIndex==index}" v-on:click="checkGeneral(item.id,index,item)">{{item.username}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/public.js"></script>
<script src="js/management.js"></script>
<script>
    $(function () {
        var docHeight = window.innerHeight || document.documentElement.clientHeight;
        var docWidth = window.innerWidth || document.documentElement.clientWidth;
        $("#content .layout").css("height", docHeight - 142);
        $("#userList").css("max-height", docHeight - 300);
        if (docWidth <= 1366) {
            $(".management .manageCon .manageItem .item ul").css("min-height", docHeight - 500);
        }
    });
</script>
</body>
</html>