<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>管理-智能考评系统</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="wap-font-scale" content="no">
    <link rel="stylesheet" href="css/template.css">
    <link rel="stylesheet" href="css/management.css">
    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/browser.min.js"></script>
    <script src="js/browser-polyfill.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/public.js"></script>
    <script type="text/babel" src="js/nav.js"></script>
</head>
<body>
<div id="main">
    <div id="head"><common-head></common-head></div>
    <div id="content" class="management">
        <div class="layout">
            <div class="title">
                <span>系统管理</span>
            </div>
            <div class="manageCon">
                <div class="tabList">
                    <ul>
                        <li v-for="(item,index) in tabList" :class="{checked:typeIndex==index}" v-on:click="tabClick(item,index)"><span>{{item.name}}</span></li>
                    </ul>
                </div>
                <div class="userCon" v-if="typeIndex==0" :class="typeIndex==0?'display':''">
                    <div class="item">
                        <span>用户名称</span>
                        <input placeholder="请输入用户名称"/>
                        <span>登录名</span>
                        <input placeholder="请输入登录名"/>
                        <a class="btn">查询</a>
                        <a class="btn">同步</a>
                        <a class="btn" @click="userInfoPop(0)">新增</a>
                        <a class="btn" @click="delUser">删除</a>
                    </div>
                    <div class="table firstTab">
                        <table>
                            <thead>
                            <tr>
                                <th>
                                    <div class="checkboxList">
                                        <div v-if="userLength" :class="allChecked?'checkbox item-check checked':'checkbox item-check'" @click="checkButton('allUser')" id="allUser"><img src="images/template/icon-check.png" alt=""></div>
                                        <p>序号</p>
                                    </div>
                                </th>
                                <th>用户名称</th>
                                <th>登录名</th>
                                <th>用户邮箱</th>
                                <th>手机号</th>
                                <th>办公电话</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody :style="{'max-Height':maxHeight}">
                            <tr v-for="(item,index) in userList">
                                <td>
                                    <div class="checkboxList">
                                        <div v-if="item.type==1" :class="allChecked?'checkbox item-check checked':'checkbox item-check'" @click="checkButton(item.id,item.type)" :id="item.id"><img src="images/template/icon-check.png" alt=""></div>
                                        <p>{{index+1}}</p>
                                    </div>
                                </td>
                                <td>{{item.username?item.username:"--"}}</td>
                                <td>{{item.user?item.user:"--"}}</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td v-if="item.type==0">--</td>
                                <td v-else><img @click="userInfoPop(1,item.id)" src="images/template/icon-change.png"/></td>
                            </tr>
                            </tbody>
                        </table>
                        <!--<div class="pageNum">
                            <ul>
                                <li>
                                    <em><img src="images/template/arrow-left.png"/></em>
                                    <span>1</span>
                                    <em><img src="images/template/arrow-right.png"/></em>
                                    <p>共1条</p>
                                </li>
                                <li><p>前往</p><input type="text"/><p>页</p></li>
                            </ul>
                        </div>-->
                    </div>
                </div>
                <div class="userCon" v-if="typeIndex==1" :class="typeIndex==1?'display':''">
                    <div class="item">
                        <span>部门名称</span>
                        <input placeholder="请输入部门名称"/>
                        <a class="btn">查询</a>
                    </div>
                    <div class="table secTab">
                        <table>
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>部门名称</th>
                                <th>上级部门</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody :style="{'max-Height':maxHeight}">
                            <tr v-for="(item,index) in organizationList">
                                <td>{{index+1}}</td>
                                <td>{{item.organization}}</td>
                                <td>--</td>
                                <td>--</td>
                            </tr>
                            </tbody>
                        </table>
                        <!--<div class="pageNum">
                            <ul>
                                <li>
                                    <em><img src="images/template/arrow-left.png"/></em>
                                    <span>1</span>
                                    <em><img src="images/template/arrow-right.png"/></em>
                                    <p>共1条</p>
                                </li>
                                <li><p>前往</p><input type="text"/><p>页</p></li>
                            </ul>
                        </div>-->
                    </div>
                </div>
                <div class="userCon" v-if="typeIndex==2" :class="typeIndex==2?'display':''">
                    <div class="item">
                        <span>角色名称</span>
                        <input placeholder="请输入角色名称"/>
                        <span>角色ID</span>
                        <input placeholder="请输入角色ID"/>
                        <a class="btn">查询</a>
                        <a class="btn" @click="roleInfoPop(0)">新增</a>
                        <a class="btn" @click="delRole">删除</a>
                    </div>
                    <div class="table thirdTab">
                        <table>
                            <thead>
                            <tr>
                                <th>
                                    <div class="checkboxList">
                                        <div v-if="userLength" :class="allChecked?'checkbox item-check checked':'checkbox item-check'" @click="checkButton('roleUser')" id="roleUser"><img src="images/template/icon-check.png" alt=""></div>
                                        <p>序号</p>
                                    </div>
                                </th>
                                <th>角色名称</th>
                                <th>角色ID</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody :style="{'max-Height':maxHeight}">
                            <tr v-for="(item,index) in roleList">
                                <td>
                                    <div class="checkboxList">
                                        <div :class="allChecked?'checkbox item-check checked':'checkbox item-check'" @click="checkButton(item.id)" :id="item.id"><img src="images/template/icon-check.png" alt=""></div>
                                        <p>{{index+1}}</p>
                                    </div>
                                </td>
                                <td>{{item.name}}</td>
                                <td>{{item.id}}</td>
                                <td>{{item.remark}}</td>
                                <td><img @click="roleInfoPop(1,item.id)" src="images/template/icon-change.png"/></td>
                            </tr>
                            </tbody>
                        </table>
                        <!--<div class="pageNum">
                            <ul>
                                <li>
                                    <em><img src="images/template/arrow-left.png"/></em>
                                    <span>1</span>
                                    <em><img src="images/template/arrow-right.png"/></em>
                                    <p>共1条</p>
                                </li>
                                <li><p>前往</p><input type="text"/><p>页</p></li>
                            </ul>
                        </div>-->
                    </div>
                </div>
                <div class="userCon" v-if="typeIndex==3" :class="typeIndex==3?'display':''">
                    <div class="item">
                        <span>权限名称</span>
                        <input placeholder="请输入权限名称"/>
                        <span>权限编码</span>
                        <input placeholder="请输入权限编码"/>
                        <a class="btn">查询</a>
                        <a class="btn">同步</a>
                        <a class="btn">新增</a>
                        <a class="btn">删除</a>
                    </div>
                    <div class="table fourTab">
                        <table>
                            <thead>
                            <tr>
                                <th>
                                    <div class="checkList">
                                        <input type="checkbox" class="checkbox" id="purviewTitle">
                                        <label for="purviewTitle"><img src="images/template/icon-check.png" alt=""></label>
                                        <p>序号</p>
                                    </div>
                                </th>
                                <th>权限名称</th>
                                <th>权限编码</th>
                                <th>上级权限</th>
                                <th>地址</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody :style="{'max-Height':maxHeight}">
                            <tr>
                                <td>
                                    <div class="checkList">
                                        <input type="checkbox" class="checkbox" id="purview1">
                                        <label for="purview1"><img src="images/template/icon-check.png" alt=""></label>
                                        <p>1</p>
                                    </div>
                                </td>
                                <td>admin</td>
                                <td>admin</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                        <!--<div class="pageNum">
                            <ul>
                                <li>
                                    <em><img src="images/template/arrow-left.png"/></em>
                                    <span>1</span>
                                    <em><img src="images/template/arrow-right.png"/></em>
                                    <p>共1条</p>
                                </li>
                                <li><p>前往</p><input type="text"/><p>页</p></li>
                            </ul>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--新增/编辑用户信息-->
    <div class="tcHide" v-if="isUserPop" :class="isUserPop?'display':''">
        <div class="masking" @click="userInfoPop(0)"></div>
        <div class="tcCon">
            <div class="tcTit"><span>{{isEdit?"新增":"编辑"}}用户信息</span></div>
            <div class="itemList special"><span>用户名称：</span><input type="text" v-model="userName"/></div>
            <div class="itemList special"><span>登录名：</span><input type="text" v-model="account"/></div>
            <div class="itemList special"><span>密码：</span><input type="text" v-model="password"/></div>
            <div class="itemList special flexStart">
                <span>用户权限：</span>
                <div class="checkTree">
                    <ul>
                        <li v-for="(item,index) in roleList">
                            <div class="checkboxList">
                                <div @click="checkRadio(item.id,index)" :class="userRoleId==item.id?'checkbox item-check checked':'checkbox item-check'"><img src="images/template/icon-check.png" alt=""></div>
                                <p>{{item.name}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="itemList paddingLeft">
                <a v-if="isEdit" class="btn" @click="addUserInfo">保存</a>
                <a v-else class="btn" @click="changeUserInfo">保存</a>
                <a class="btn1" @click="userInfoPop(0)">取消</a>
            </div>
        </div>
    </div>
    <!--新增/编辑角色-->
    <div class="tcHide" v-if="isRolePop" :class="isRolePop?'display':''">
        <div class="masking" @click="roleInfoPop(0)"></div>
        <div class="tcCon">
            <div class="tcTit"><span>{{isEdit?"新增":"编辑"}}角色</span></div>
            <div class="itemList special"><span>角色名称：</span><input type="text" v-model="roleName"/></div>
            <div class="itemList special"><span>备注：</span><input type="text" v-model="roleRemark"/></div>
            <div class="itemList special flexStart">
                <span>菜单权限：</span>
                <div class="checkTree">
                    <ul>
                        <li v-for="(item,index) in meanList">
                            <div class="checkboxList">
                                <div @click="checkButton('_'+item.id)" :class="needIdList!=''&&needIdList!=null&&needIdList.includes(item.id)?'checkbox item-check checked':'checkbox item-check'" :id="'_'+item.id"><img src="images/template/icon-check.png" alt=""></div>
                                <p>{{item.name}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="itemList paddingLeft">
                <a v-if="isEdit" class="btn" @click="addRoleInfo">保存</a>
                <a v-else class="btn" @click="changeRoleInfo">保存</a>
                <a class="btn1" @click="roleInfoPop(0)">取消</a>
            </div>
        </div>
    </div>
</div>
<script src="js/management.js" type="text/babel"></script>
</body>
</html>