<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>报表-智能考评系统</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="wap-font-scale" content="no">
    <link rel="stylesheet" href="css/template.css">
    <link rel="stylesheet" href="css/report.css">
    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/browser.min.js"></script>
    <script src="js/browser-polyfill.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/public.js"></script>
    <script type="text/babel" src="js/nav.js"></script>
</head>
<body>
<div id="main">
    <div id="head"><common-head></common-head></div>
    <div id="content" class="report">
        <div class="layout">
            <div class="listCon">
                <div class="title"><span>考评报表管理</span></div>
                <div class="table">
                    <div class="btnList"><a class="btn" @click="reportInfo(0)">新建报表</a></div>
                    <table>
                        <thead>
                        <tr>
                            <th>报表名称</th>
                            <th>创建时间</th>
                            <th>创建人</th>
                            <th>报表计划</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="table">
                        <tr v-for="(item,index) in reportList">
                            <td>{{item.name}}</td>
                            <td>{{dateFormatFull(item.checkStartTime)}}</td>
                            <td>admin</td>
                            <td>{{cronExpression(item.checkPlan)}}</td>
                            <td>
                                <a :href="'evaluationPlanDetail.html?id='+item.id"><img src="images/template/icon-time.png"/></a>
                                <img @click="reportInfo(1,index,item.id)" src="images/template/icon-change.png"/>
                                <img @click="delReportInfo(item.id,index)" src="images/template/icon-del.png"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--新建报表-->
    <div class="tcHide" v-if="isReportPop" :class="isReportPop?'display':''">
        <div class="masking" @click="reportInfo(0)"></div>
        <div class="tcCon">
            <div class="tcTit"><span>考评报表管理</span></div>
            <div class="itemList special"><span>报表名称：</span><input type="text" v-model="objectName"/></div>
            <div class="itemList special">
                <span>时间范围：</span>
                <div class="select">
                    <span @click="selectTime">{{timeTxt}}<i></i></span>
                    <ul v-if="isTime" :class="isTime?'display':''">
                        <li v-for="(item,index) in timeData" @click="selectTimeType(item)"><span>{{item.name}}</span></li>
                    </ul>
                </div>
            </div>
            <div class="itemList special flexStart">
                <span>考评项目：</span>
                <div class="checkTree">
                    <ul>
                        <li v-for="(item,index) in objectNavList" v-if="item.parentId==0">
                            <div class="checkboxList">
                                <div @click="checkButton(item.id,0)" :class="needIdList!=''&&needIdList!=null&&needIdList.includes(item.id)?'checkbox item-check checked':'checkbox item-check'" :id="item.id"><img src="images/template/icon-check.png" alt=""></div>
                                <p>{{item.name}}</p>
                            </div>
                            <ul>
                                <li v-for="(secItem,secIndex) in objectNavList" v-if="item.id==secItem.parentId">
                                    <div class="checkboxList">
                                        <div @click="checkButton(secItem.id,0)" :class="needIdList!=''&&needIdList!=null&&needIdList.includes(secItem.id)?'checkbox item-check checked':'checkbox item-check'" :id="secItem.id"><img src="images/template/icon-check.png" alt=""></div>
                                        <p>{{secItem.name}}</p>
                                    </div>
                                    <ul>
                                        <li v-for="(thirdItem,thirdIndex) in objectNavList" v-if="secItem.id==thirdItem.parentId">
                                            <div class="checkboxList">
                                                <div @click="checkButton(thirdItem.id,0)" :class="needIdList!=''&&needIdList!=null&&needIdList.includes(thirdItem.id)?'checkbox item-check checked':'checkbox item-check'" :id="thirdItem.id"><img src="images/template/icon-check.png" alt=""></div>
                                                <p>{{thirdItem.name}}</p>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="itemList special flexStart">
                <span>业务系统：</span>
                <div class="checkTree">
                    <ul>
                        <li v-for="(item,index) in objectList">
                            <div class="checkboxList">
                                <div @click="checkButton(item.id,1)" :class="objectNeedIdList!=''&&objectNeedIdList!=null&&objectNeedIdList.includes(item.id)?'checkbox itemCheck checked':'checkbox item-check'" :id="'_'+item.id"><img src="images/template/icon-check.png" alt=""></div>
                                <p>{{item.name}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="itemList paddingLeft">
                <a v-if="isEdit" class="btn" @click="saveReportInfo">保存</a>
                <a v-else class="btn" @click="changeReportInfo">保存</a>
                <a class="btn1" @click="reportInfo(0)">取消</a>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/report.js" type="text/babel"></script>
</html>